.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-leftside {
        display: flex;
        align-items: center;
        span {
            margin-left: 10px;
        }
    }
}
