<mat-toolbar color="primary">
    <div class="container">
        <div class="nav">
            <div class="nav-leftside">
                <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with menu icon"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Angular Blog</span>
            </div>
            <div class="nav-rightside">
                <button
                    mat-icon-button
                    class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon"
                >
                    <mat-icon>favorite</mat-icon>
                </button>
                <button
                    mat-icon-button
                    class="example-icon"
                    aria-label="Example icon-button with share icon"
                >
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>
<app-post-list></app-post-list>
<router-outlet></router-outlet>
